# Batch files
*.bat

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Type hinting files
*.pyi

# C extensions
*.so

# Distribution / packaging
dist/
build/
*.egg-info/

# IDE specific files
.idea/
.vscode/
*.code-workspace

# Compiled Python files
*.pyc

# ___pyp__ files
___pyp__

# Virtual environment
venv/
